body {
  background-color: #DCD7C9;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  border-color: grey;
  height: 0px;
  width: 5%;
}
h1{
 color: #2C3639;
}
h3{
color: #3F4E4F;
}

.button:hover{
background-color: aqua;
}
#profilePicture:hover{
  background-color: gold;
}
